@model Roadtrip.Models.Profile

@{
    ViewBag.Title = Model.UserName + "'s Profile";
}

@Scripts.Render("~/Scripts/ProfileJS.js")

<body style="background-color: #F5CB5C;">
    @if (Model.UserName != User.Identity.Name)
    {
        <input name="@Model.UserName" type="button" value="Follow" onclick="follow(this.name)">
    }
    <div class="container profileBackground">
        <div class="row">
            <div class="col-lg-12" style="height:100px;">
                @{
                    var name = "default.jpg";
                    if (File.Exists(Server.MapPath("/Uploads/" + Model.UserName + ".jpeg")))
                    {
                        name = Model.UserName + ".jpeg";
                    }
                    <div style="height: 100px;">
                        <img src="~/Uploads/@name" class="profilepic" />
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 socialsidebar">
                <div class="row">
                    <div class="col-lg-12 socialsidebar">
                        - Followers -
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 socialsidebar">
                        @if(Model.FollowerList != null){ 
                            foreach(string s in Model.FollowerList)
                            {
                                <a href="/Profiles/Details/@s">@s</a><br/>
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 socialsidebar">
                        - Following -
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 socialsidebar">
                        @if (Model.FollowingList != null)
                        {
                            foreach (string s in Model.FollowingList)
                            {
                                <a href="/Profiles/Details/@s">@s</a><br />
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="text-align:center;">
                @if (Model.UserName == User.Identity.Name)
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.Label("About Me")
                                <textarea class="form-control" rows="10" style="width:100%" name="AboutMe">@Model.AboutMe</textarea>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Update" class="btn" />
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    @Html.Label("About Me")
                    <p style="width:100%">@Model.AboutMe</p>
                }
            </div>
            <div class="col-lg-3" style="text-align:center;">
                [COMMENTS PLACEHOLDER]
            </div>
        </div>
    </div>
</body>
