@model Roadtrip.Models.Profile

@{
    ViewBag.Title = Model.UserName + "'s Profile";
}

<script type="text/javascript">
        origText = "@Model.AboutMe";
</script>

@Scripts.Render("~/Scripts/ProfileJS.js")

<body style="background-color: #F5CB5C;">
    @if (Model.UserName == User.Identity.Name)
    {
        <div class="marqueeContainer">
            <marquee class="marqueeClass" behavior="scroll" scrollamount="3" direction="left"
                     onmouseover="this.stop();" onmouseout="this.start();">
                <ul id="ticker">
                    @foreach (string s in Model.RecentActivityList)
                    {
                        @Html.Raw(s);
                    }
                </ul>
            </marquee>
        </div>
    }
    @if (ViewBag.AccessOK == true)
    {
        <div class="container profileBackground">
            <div class="row">
                <div class="col-lg-12" style="height:100px;">
                    @{
                        var name = "default.jpg";
                        if (File.Exists(Server.MapPath("/Uploads/" + Model.UserName + ".jpeg")))
                        {
                            name = Model.UserName + ".jpeg";
                        }
                        <div style="height: 100px;">
                            <img src="~/Uploads/@name" class="profilepic" />
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 socialsidebar">
                    @if (Model.UserName != User.Identity.Name && !Model.PendingRequestsList.Contains(User.Identity.Name) && !Model.FollowerList.Contains(User.Identity.Name))
                    {
                        <input name="@Model.UserName" type="button" value="Request Follow" onclick="requestFollow(this.name)">
                    }
                    else if (Model.FollowerList.Contains(User.Identity.Name))
                    {
                        <input name="@Model.UserName" type="button" value="Unfollow" onclick="unfollow(this.name)">
                    }
                    <div class="row">
                        <div class="col-lg-12 socialsidebar">
                            Followers
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 socialsidebar">
                            @if (Model.FollowerList != null)
                            {
                                foreach (string s in Model.FollowerList)
                                {
                                    var tname = "default.jpg";
                                    if (File.Exists(Server.MapPath("/Uploads/" + s + ".jpeg")))
                                    {
                                        tname = s + ".jpeg";
                                    }
                                    <div data-toggle="tooltip" data-placement="top" title="@s" style="width: 30px; float: left;">
                                        <a href="/Profiles/Details/@s"><img style="width: 30px; height: 30px; display: block; border: 1px solid black;" src="~/Uploads/@tname" /></a>
                                    </div>

                                }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 socialsidebar">
                            Following
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 socialsidebar">
                            @if (Model.FollowingList != null)
                            {
                                foreach (string s in Model.FollowingList)
                                {
                                    var tname = "default.jpg";
                                    if (File.Exists(Server.MapPath("/Uploads/" + s + ".jpeg")))
                                    {
                                        tname = s + ".jpeg";
                                    }
                                    <div data-toggle="tooltip" data-placement="top" title="@s" style="width: 30px; float: left;">
                                        <a href="/Profiles/Details/@s"><img style="width: 30px; height: 30px; display: block; border: 1px solid black;" src="~/Uploads/@tname" /></a>
                                    </div>

                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="text-align:center;">
                    @if (Model.UserName == User.Identity.Name)
                    {
                        <div class="row">
                            <div class="col-lg-12 socialsidebar">
                                <textarea rows="10" style="width:100%" id="AboutMe">@Model.AboutMe</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <input id="AboutMeButton" style="visibility:hidden;" type="button" value="Save Changes" onclick="updateAboutMe()">
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.Label("About Me")
                        <p style="width:100%">@Model.AboutMe</p>
                    }
                </div>
                <div class="col-lg-3" style="text-align:center;">
                    @if (Model.UserName == User.Identity.Name)
                    {
                        if (Model.PrivacyFlag == "Public")
                        {
                            <input name="@Model.UserName" type="button" value="Make profile private" onclick="togglePrivacy(this.name, '@Model.PrivacyFlag.ToString()')">
                        }
                        else
                        {
                            <input name="@Model.UserName" type="button" value="Make profile public" onclick="togglePrivacy(this.name, '@Model.PrivacyFlag.ToString()')">
                        }
                        <div class="row">
                            <div class="col-lg-12 socialsidebar">
                                Pending Follower Requests
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 socialsidebar">
                                @if (Model.PendingRequestsList != null)
                                {
                                    foreach (string s in Model.PendingRequestsList)
                                    {
                                        var tname = "default.jpg";
                                        if (File.Exists(Server.MapPath("/Uploads/" + s + ".jpeg")))
                                        {
                                            tname = s + ".jpeg";
                                        }

                                        <div data-toggle="tooltip" data-placement="top" title="@s" style="width: 30px; float: left; margin-left: 15%; margin-right: 20%;">
                                            <a href="/Profiles/Details/@s"><img style="width: 30px; height: 30px; display: block; border: 1px solid black;" src="~/Uploads/@tname" /></a>
                                        </div>
                                        <div data-toggle="tooltip" data-placement="top" title="Confirm Request">
                                            <input name="@s" type="button" value="✔" onclick="confirmFollow(this.name)" style="float:left; margin-left: 5%;">
                                        </div>
                                        <div data-toggle="tooltip" data-placement="top" title="Deny Request">
                                            <input name="@s" type="button" value="❌" onclick="denyFollow(this.name)" style="float:left; margin-left: 5%;">
                                        </div>
                                        <br />
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 socialsidebar">
                                Requests Pending
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 socialsidebar">
                                @if (Model.RequestsPendingList != null)
                                {
                                    foreach (string s in Model.RequestsPendingList)
                                    {
                                        var tname = "default.jpg";
                                        if (File.Exists(Server.MapPath("/Uploads/" + s + ".jpeg")))
                                        {
                                            tname = s + ".jpeg";
                                        }
                                        <div data-toggle="tooltip" data-placement="top" title="@s" style="width: 30px; float: left; margin-left: 5%;">
                                            <a href="/Profiles/Details/@s"><img style="width: 30px; height: 30px; display: block; border: 1px solid black;" src="~/Uploads/@tname" /></a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else if (Model.PendingRequestsList.Contains(User.Identity.Name))
    {
        <p>Your follow request is currently pending. Please check back later.</p>
    }
    else
    {
        <p>Sorry, you don't have permission to view @{@Model.UserName}'s profile as it is @Model.PrivacyFlag. Please request access using the 'Request Follow' button.</p>
        <input name="@Model.UserName" type="button" value="Request Follow" onclick="requestFollow(this.name)">
    }
</body>
