@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="jumbotron" style="text-align:center">
        <h1>Create a route!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <form class="form-inline">
                    <div class="form-group">
                        @Html.Label("Within")
                        @Html.TextBox("numbers", 10, new
                   {
                       @class = "form-control",
                       @placeholder = "15",
                       @type = "number",
                       @min = 1,
                       @max = 50,
                       @style = "width: 60px;"
                   })
                        @Html.Label("Miles")
                        <button id="findLocationButton" class="btn btn-default">Find Locations</button>
                    </div>

                </form>
            </div>
            <div id="mapid"></div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/mapScripts.js")
    @Styles.Render("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css")
    @Scripts.Render("https://unpkg.com/leaflet@1.6.0/dist/leaflet.js")
</body>

<div class="main">

    <div class=" left">

        <h1></h1>

    </div>

    <div class="middle">

        <h1>Details</h1>

        <div id="results">



        </div>



    </div>

    <div class="right"></div>

</div>





@section scripts



{



    <script src="~/Scripts/InformationAPI.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>



}





