
@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    searchedLocations = {
        name: [],
        rating: [],
        indexs: [],
        latitude: [],
        longitude: [],
        id: []
    };
    selectedLocations = {
        name: [],
        rating: [],
        indexs: [],
        latitude: [],
        longitude: [],
        id: []
    };
</script>
<body>
    <div class="container">
        <div class="row" style="text-align:center">
            <form class="form-inline">
                <div class="form-group">
                    @using (Html.BeginForm())
                    {
                        @Html.Label("Show me ")
                    <select id="name" class="form-control">
                        <option value="food">Food</option>
                        <option value="hotels">Hotels</option>
                        <option value="shopping">Shopping</option>
                        <option value="transportation">Transportation</option>
                        <option value="activelife">Active Life</option>
                        <option value="Arts&Entertainment">Arts & Entertainment</option>
                        <option value="nightlife">Nightlife</option>
                    </select>
                        @Html.Label(" within ")
                        @Html.TextBox("numbers", 5, new
                        {
                            @class = "form-control",
                            @placeholder = "15",
                            @type = "number",
                            @min = 1,
                            @max = 25,
                            @style = "width: 60px;"
                        })
                        @Html.Label(" miles of ")
                        <input type="text" class="form-control" id="city" placeholder="Monmouth" />
                        <input type="text" class="form-control" id="state" placeholder="Oregon" />
                        @Html.Label(".")
                        <button type="button" class="btn btn-primary" id="myButton" onclick="establishments()">Search</button>
                    }
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="searchmap" style="height:300px;"></div>
            </div>
            <div class="col-lg-6">
                <div id="routemap" style="height:300px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" id="establishments" style="height:300px;overflow:scroll;">Locations:</div>
            <div class="col-lg-4" id="details" style="height:300px;overflow:scroll;">Details:</div>
            <div class="col-lg-4" id="addLocation" style="height:300px;overflow:scroll;">Route:</div>
        </div>
    </div>

    @Styles.Render("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css")
    @Scripts.Render("https://unpkg.com/leaflet@1.6.0/dist/leaflet.js")
    @Styles.Render("~/Content/leaflet-routing-machine.css")
    @Scripts.Render("~/Scripts/leaflet-routing-machine.js")
    @Scripts.Render("~/Scripts/mapScripts.js")
    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/Scripts/PlacesAPI.js")
</body>


