@model  IEnumerable<Roadtrip.Models.Comment>

@{

    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/CreateRouteLayout.cshtml";
}

<script type="text/javascript">
    var map;
    var control = null;
    var searchGroup;
    var routeGroup;

    searchedLocations = {
        name: [],
        rating: [],
        indexs: [],
        latitude: [],
        longitude: [],
        id: []
    };
    selectedLocations = {
        name: [],
        rating: [],
        indexs: [],
        latitude: [],
        longitude: [],
        id: []
    };
</script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#sortable").sortable({
            stop: function (event, ui) {
                reOrder(); // re-number rows after sorting
            }
        });
        $("#sortable").disableSelection();
    });
</script>


<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#addLocation").sortable();
        $("#addLocation").disableSelection();
    });</script>-->

<body>

    <div id="panel">
        <div id="searchmap" style="width:100vw; height:91vh;">
            <div id="smap" style="height: 100%; background-color: black;"></div>
            <div class="mapoverlay1">

                <form class="form-inline">
                    <div class="form-group" style="padding: 15px 0px 0px 15px;">

                        @using (Html.BeginForm())
                        {
                            @Html.Label("Show me", new
                            {
                                @style = "padding: 0px 10px 0px 10px; text-shadow: 0 0 3px #000000, 0 0 5px #000000;"
                            })
                            <select id="name" class="form-control" style="width: 100px;">
                                <option value="food">Food</option>
                                <option value="hotels">Hotels</option>
                                <option value="shopping">Shopping</option>
                                <option value="transportation">Transportation</option>
                                <option value="activelife">Active Life</option>
                                <option value="Arts&Entertainment">Arts & Entertainment</option>
                                <option value="nightlife">Nightlife</option>
                            </select>
                            @Html.Label("within", new
                            {
                                @style = "padding: 0px 10px 0px 10px; text-shadow: 0 0 3px #000000, 0 0 5px #000000;"
                            })
                            @Html.TextBox("numbers", 5, new
                            {
                                @class = "form-control mx-1",
                                @placeholder = "15",
                                @type = "number",
                                @min = 1,
                                @max = 25,
                                @style = "width: 60px;"
                            })

                            @Html.Label("miles of", new
                            {
                                @style = "padding: 0px 10px 0px 10px; text-shadow: 0 0 3px #000000, 0 0 5px #000000;"
                            })
                            <input class="mx-1" type="text" id="city" value="monmouth" />
                            <input class="mx-1" type="text" id="state" value="oregon" />

                            <div data-toggle="tooltip" data-placement="top" title="Search">
                                <button type="button" id="myButton" class="btn btn-primary" onclick="establishments()">🔍</button>
                            </div>
                            <div data-toggle="tooltip" data-placement="top" title="Save Route">
                                <button type="button" id="saveButton" class="btn btn-primary" style="display: none; margin-left:5px;" onclick="saveRoute()">💾</button>
                            </div>
                            <div data-toggle="tooltip" data-placement="top" title="Export to Google Maps">
                                <button type="button" id="exportButton" class="btn btn-primary" style="display: none; margin-left:5px;" onclick="gMapsExportCreate()">➠</button>
                            </div>
                        }
                    </div>
                </form>
            </div>
            <div class="mapoverlay2">
                <p style="height: 1vh;">Search Results</p>
                <div id="establishments" style="width:100%; height:35vh; overflow-y: scroll;"></div>
                <p style="height: 1vh;">Current Route</p>
                <ul id="sortable" style="height: 35vh; overflow-y: scroll;" onchange="reOrder()"></ul>
            </div>
            <div class="mapoverlay3">
                <div>
                    @Html.Label("Name:")
                    <input class="mx-1" type="text" id="routeName" style="height:50px; width:15vw;" />
                </div>

                <div>
                    @Html.Label("Tags:")
                    <select id="Tag" class="form-control pull-right" style="width: 40%;">
                        <option value="food">Food</option>
                        <option value="family">Family</option>
                        <option value="Fun">Fun</option>
                        <option value="21plus">21plus</option>
                        <option value="Bars">Bars</option>
                        <option value="Shopping">Shopping</option>
                    </select>

                    <select id="Tag2" class="form-control pull-right" style="width: 40%;">
                        <option value="food">Food</option>
                        <option value="family">Family</option>
                        <option value="Fun">Fun</option>
                        <option value="21plus">21plus</option>
                        <option value="Bars">Bars</option>
                        <option value="Shopping">Shopping</option>
                    </select>
                </div>

                <div id="shortroute">
                    Shortest Route:
                    <button type="button" id="myrButton" onclick="ACS()">generate 🐜</button>
                    <div style="height: 15vh; width:100%; overflow-y: scroll;" id="short"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modalWrapper">
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                </div>
                <div class="col-lg-12" id="details" style="height:500px;">Details:</div>
                <div class="modal-body" id="modalBody"></div>
                <div class="comments" id="comments"></div>
                <a href="Create/Comments/1" id="createComment" target="_blank, width = '400px', height = '400px'">Add Comment</a>
            </div>

        </div>
    </div>

    <div id="alertboard" style="display: none;"></div>




</body>


@Styles.Render("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css")
@Scripts.Render("https://unpkg.com/leaflet@1.6.0/dist/leaflet.js")
@Styles.Render("~/Content/leaflet-routing-machine.css")
@Scripts.Render("~/Scripts/leaflet-routing-machine.js")

@Scripts.Render("~/Scripts/LeafletExtension.js")



@Scripts.Render("~/Scripts/PlacesAPIv2.js")
@Scripts.Render("~/Scripts/GMaps.js")





