<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roadtrip</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        @if (Request.IsAuthenticated)
        {

        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="/Home/Index" class="btn btn-primary active" role="button" aria-pressed="true">Home</a>
            </li>
        </ul>
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav ml-auto" }))
            {
                @Html.AntiForgeryToken()
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary">Hello, @User.Identity.Name!</button>
                            <button type="button" class="btn btn-secondary dropdown-toggle" style="padding:0px;" data-toggle="dropdown">
                                @if (Request.IsAuthenticated)
                                {
                                    var name = "default.jpg";
                                    if (ViewBag.loggedIn)
                                    {
                                        name = User.Identity.Name + ".jpeg?r=" + DateTime.Now.Ticks.ToString();
                                    }
                                    <div class="navbar-right">
                                        <img src="~/Uploads/@name" class="profilepic-navbar" />
                                    </div>
                                }
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item disabled" href="#">My Account</a>
                                <a class="dropdown-item disabled" href="#">View Profile</a>
                                <a class="dropdown-item" href="/Account/Edit">Edit Profile</a>
                                <a class="dropdown-item disabled" href="#">Change Password</a>
                                <a class="dropdown-item disabled" href="#">Settings</a>
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            }
        }
        else
        {

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-secondary mx-2" href="@Url.Action("Register", "Account")">
                        Register
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary mx-2" href="@Url.Action("Login", "Account")">
                        Login
                    </a>
                </li>
            </ul>
        }
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr style="border-color: #474747;" />
        <footer>
            <p style="text-align: center;">&copy; @DateTime.Now.Year - Digital Hijinks</p>
        </footer>
    </div>
</body>
</html>
