<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roadtrip</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Create", "Routes")">Create a Route</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "SavedRoutes")">Saved Routes</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="@Url.Action("Index", "Home")">-DIGITAL HIJINKS CAPSTONE-</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav ml-auto" }))
                {
                    @Html.AntiForgeryToken()
                    var name = "default.jpg";
                    string path = Server.MapPath("~/Uploads/");
                    if (System.IO.File.Exists(path + User.Identity.Name + ".jpeg"))
                    {
                        name = User.Identity.Name + ".jpeg?r=" + DateTime.Now.Ticks.ToString();
                    }
                    <li class="nav-item">
                        <div class="nav-link" style="color:rgba(255, 255, 255, 0.5);">Hello, @User.Identity.Name!</div>
                    </li>
                    <li class="nav-item">
                        <img src="~/Uploads/@name" class="profilepic-navbar" />
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" style="z-index: 1500;">
                            <a class="dropdown-item disabled" href="#">My Account</a>
                            <a class="dropdown-item disabled" href="#">View Profile</a>
                            <a class="dropdown-item" href="/Account/Edit">Edit Profile</a>
                            <a class="dropdown-item disabled" href="#">Change Password</a>
                            <a class="dropdown-item disabled" href="#">Settings</a>
                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                        </div>
                    </li>

                }
            }
            else
            {
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Register", "Account")">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "Account")">Login</a>
                    </li>
                </ul>
            }

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr style="border-color: #474747;" />
        <footer>
            <p style="text-align: center;">&copy; @DateTime.Now.Year - Digital Hijinks</p>
        </footer>
    </div>
</body>
</html>
