@model Roadtrip.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@using reCAPTCHA.MVC

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 align="center">Please fill out this form to create an account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group" align="center">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-5 control-label" })
        <div class="col-md-7" align="center">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" align="center">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-5 control-label" })
        <div class="col-md-7" align="center">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" align="center">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-5 control-label" })

        <div class="col-md-7" align="center">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" align="center">

        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
        <div class="col-md-7" align="center">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12" align="center">
            @Html.Recaptcha()
            @Html.ValidationMessage("ReCaptcha")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12" align="center">

            <input type="submit" class="btn btn-secondary" value="Register" />



        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
